.loginpage {
    margin: auto;
}

.mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.UIContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
}