.chatUI {
    position: relative;
    background-color: #ECF0F6;
    height: calc(100vh - 48px);
    /* margin-left: 10px; */
    width: 600px;
    flex: 1 1 500px;
}

.chatUI::-webkit-scrollbar {
    display: none; /* 스크롤바를 숨김 */
}

.chatUI > .bottombar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    height: 40px;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000; 
    background-color: white;
    border-radius: 8px;
    border: solid 2px #eee;
    padding: 0 10px;
}

.chatUI > .bottombar > input {
    border: none;
    width: 90%;
    font-size: 14px;
    font-weight: 500;
}

.chatUI > .bottombar > .chatBtn {
    width: 30px;
    height: 30px;
}

.chatWindow{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.chatWindow::-webkit-scrollbar {
    display: none; /* 스크롤바를 숨김 */
}

.chatContainer{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    padding: 30px 0 90px;
}

.chatContainer::-webkit-scrollbar {
    display: none; /* 스크롤바를 숨김 */
}

.studentchat {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
}

.studentchat > img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.studentchat > .chatbubble {
    margin-top: 6px;
    background-color: white;
    border-radius: 10px;
    width: calc(100% - 60px);
    padding: 14px;
}

.instructorchat {
    max-width: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 20px;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    background-color: #D1D3E3;
}